interface-partner/src/main/resources/xsd/CSD002Aller.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="CSD002Aller">
        <xs:complexType>
            <xs:all>
                <xs:element minOccurs="0" name="serviceMetierPublicAller">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="refExtEmetteur" type="xs:string"/>
                            <xs:element name="idService" type="xs:string"/>
                            <xs:element minOccurs="0" name="version" type="xs:string"/>
                            <xs:element name="userid" type="xs:string"/>
                            <xs:element minOccurs="0" name="codLang" type="xs:string"/>
                            <xs:element name="refExtDemSMP" type="xs:string"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="numPan" type="xs:string" />
                <xs:element name="datFinValidite" type="xs:string" />
                <xs:element name="codDemande" type="xs:string" />
                <xs:element name="codCanalAcquisition" type="xs:string" />
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>