mock-ttis/src/main/resources/wsdl/SMPCardServicesLax.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. -->
<xsd:schema xmlns:ns0="http://ws.generic.cardservices.soprabanking.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://ws.generic.cardservices.soprabanking.com">
    <xsd:complexType name="laxElement">
        <xsd:sequence>
            <xsd:any processContents="lax" namespace="##other"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="activerResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="messageSMPRetourXML" type="ns0:laxElement" nillable="true"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="activer">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="messageSMPAllerXML" type="ns0:laxElement" nillable="true"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>