service-monetiq/src/main/resources/fr/boursorama/bus/ttis/xsd/CSD001Aller.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CSD001Aller">
    <xs:complexType>
      <xs:all>
        <xs:element name="serviceMetierPublicAller">
          <xs:complexType>
            <xs:all>
              <xs:element name="refExtEmetteur" type="xs:string" />
              <xs:element name="idService" type="xs:string" />
              <xs:element minOccurs="0" name="version" type="xs:string" />
              <xs:element name="userid" type="xs:string" />
              <xs:element minOccurs="0" name="codLang" type="xs:string" />
              <xs:element name="refExtDemSMP" type="xs:string" />
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="numPan" type="xs:string" />
        <xs:element minOccurs="0" name="texdatFinValiditeteAller" type="xs:string" />
        <xs:element minOccurs="0" name="codDemande" type="xs:string" />
        <xs:element minOccurs="0" name="codCanalAcquisition" type="xs:string" />
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>